 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
a{
    color: #fff;
    text-decoration: none;
}
 body{
    font-family: roboto;
    background-image: url("imag/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
 }
 .container {
    justify-content: center;
    background-color: #ffffff;
    width: 315px;
    box-shadow: 0px 0px 14px 1px #fff;
    margin: auto;
    text-align: center;
    padding: 9px;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10%;
}
.container h2 {
    padding: 13px;
    color: red;
    font-weight: 500px;
    margin: 0;
}
.form-control{
    padding: 10px;
    position: relative;
}
.form-control label{
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    color: #777;
    text-align: justify;
    font-weight: 700;
    font-family: 'Roboto';
}
.form-control input {
    border: 1px solid;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    font-size: 15px;
    background-color: #ece5e5;
    font-family: 'Roboto';
}
.form-control input:focus{
    border-color: rebeccapurple;
    outline: none;
}
.btn {
    width: 53%;
    height: 46px;
    background-color: blue;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}